<style>
.demo-card-square.mdl-card {
  width: 250px;
  height: 270px;
  margin:10px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: url('') bottom right 15% no-repeat #46B6AC;

}
</style>
<form (submit)="onRegisterSubmit()">
<div class = "container">
  <div class="overlay">

  <div id="alarm-dialog">
    <h2>Set alarm at</h2>

    <div class="form-group">
      <label class="hours">
      <input type="datetime-local"  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" class="form-control" [(ngModel)]="hours" name="hours"  value="0" min="0"  required/>
      </label>
    </div>
    <a class="close"></a>
  </div>

</div>

  <input type="submit" class="btn btn-primary" value="Set Alarm">
</div>
</form>

  
<div class="demo-card-square mdl-card mdl-shadow--2dp"  *ngFor="let hero of heroes">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">You have an alarm</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <input (change)="check($event)" type="checkbox" name="timeid" value ="{{hero.id}}" class="{{hero.id}}">{{hero.time}}<br>
  </div>
</div>
